[Unit]
Description=Vagus

[Service]
Type=simple
ExecStart=__BIN_DIRECTORY__/run.sh
User=vagus

KillSignal=9

Restart=on-failure
RestartSec=5

[Install]
Alias=vagus.service
WantedBy=multi-user.target
